.git*
.dockerignore
.DS_Store

.coveragerc
.editorconfig
.pre-commit-config.yaml
.pylintrc
.pytest_cache
.travis.yml

_assets/
_db.initial.tar.gz

*.egg-info/

build*.sh
clean*.sh
deploy*.sh
develop*.sh
host*.sh
permissions*.sh
publish*.sh
restart*.sh
run*.sh

Dockerfile
Procfile

example.db
dist.*.tar.gz

_db/
_frontend/
clients/
deploy/
docs/
tests/
virtualenv/

__pycache__
*.pyc

cookie.jar
pip-wheel-metadata/
local_config.py.template
