Flask

flask-restplus==0.10.1

Flask-Cors

SQLAlchemy
sqlalchemy-utils
Flask-SQLAlchemy
Alembic
werkzeug

marshmallow
flask-marshmallow
marshmallow-sqlalchemy
webargs
apispec

bcrypt
passlib
Flask-Login
permission
Authlib>=0.6

arrow
