<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Authorization</title>
</head>
<body>
  <p>Client: {{ client.client_id }}</p>
  <p>User: {{ user.username }}</p>
  <form action="/auth/oauth2/authorize" method="post">
    <p>Allow access?</p>
    <input type="hidden" name="client_id" value="{{ client.client_id }}">
    <input type="hidden" name="scope" value="{{ scopes|join(' ') }}">
    <input type="hidden" name="response_type" value="{{ response_type }}">
    <input type="hidden" name="redirect_uri" value="{{ redirect_uri }}">
    {% if state %}
    <input type="hidden" name="state" value="{{ state }}">
    {% endif %}
    <input type="submit" name="confirm" value="yes">
    <input type="submit" name="confirm" value="no">
  </form>
</body>
</html>
