<h2 style="margin: 0px; font-weight: bold;">Hello, <span id="user-name-container"></span></h2>

<a href="{{ url_for('backend.user_logout') }}">
  <button id="logout" type="button">Sign Out</button>
</a>
