{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block style %}
  {{ super() }}
{% endblock %}

{% block content %}
  <div>
    <a class="navbar-brand" href="{{ url_for('houston.home') }}">
      <img src="{{ url_for('houston.static', filename='images/icon.png', version=cachebuster) }}" width="50" height="50" alt="">
      <h1>Houston</h1>
      <h2>by Wild Me</h2>   
    </a>
  </div>

  <div class="system-version">
    Version {{ version }}
  </div>

  {% include "home.login.html" %}

  {% include "home.logout.html" %}

{% endblock %}

{% block foot %}
  {{ super() }}
{% endblock %}

{% block script %}
  {{ super() }}
{% endblock %}