<div class="card">
  <div class="card-header">
    <b>Hello, {{ user.full_name }}</b>
  </div>

  <div class="card-body">
    <a href="{{ url_for('backend.user_logout') }}">
      <button id="logout" class="btn btn-primary navbar-btn">Log out</button>
    </a>
  </div>
</div>
