<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
  <head>
    {% block head %}
    <title>Houston - {% block title %}{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_tag }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ google_analytics_tag }}');
    </script>

    <!-- generics -->
    <link rel="icon" type="image/png" href="{{ url_for('houston.static', filename='favicon/favicon-32.png', version=cachebuster) }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ url_for('houston.static', filename='favicon/favicon-57.png', version=cachebuster) }}" sizes="57x57">
    <link rel="icon" type="image/png" href="{{ url_for('houston.static', filename='favicon/favicon-76.png', version=cachebuster) }}" sizes="76x76">
    <link rel="icon" type="image/png" href="{{ url_for('houston.static', filename='favicon/favicon-96.png', version=cachebuster) }}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ url_for('houston.static', filename='favicon/favicon-128.png', version=cachebuster) }}" sizes="128x128">
    <link rel="icon" type="image/png" href="{{ url_for('houston.static', filename='favicon/favicon-192.png', version=cachebuster) }}" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ url_for('houston.static', filename='favicon/favicon-228.png', version=cachebuster) }}" sizes="228x228">

    <!-- Android -->
    <link rel="shortcut icon" type="image/png" sizes="196x196" href="{{ url_for('houston.static', filename='favicon/favicon-196.png', version=cachebuster) }}">

    <!-- iOS -->
    <link rel="apple-touch-icon" type="image/png" href="{{ url_for('houston.static', filename='favicon/favicon-120.png', version=cachebuster) }}" sizes="120x120">
    <link rel="apple-touch-icon" type="image/png" href="{{ url_for('houston.static', filename='favicon/favicon-152.png', version=cachebuster) }}" sizes="152x152">
    <link rel="apple-touch-icon" type="image/png" href="{{ url_for('houston.static', filename='favicon/favicon-180.png', version=cachebuster) }}" sizes="180x180">

    <!-- Windows 8 IE 10-->
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="{{ url_for('houston.static', filename='favicon/favicon-144.png', version=cachebuster) }}">

    <!-- Windows 8.1 + IE11 and above -->
    <meta name="msapplication-config" content="{{ url_for('houston.static', filename='favicon/browserconfig.xml', version=cachebuster) }}">
    {% endblock %}

    {% block style %}{% endblock %}
  </head>
  
  <body>
    <div id="messages"></div>

    <div id="content">
      {% block content %}{% endblock %}
    </div>

    <div class="clearfix"></div>

    <div id="footer">
      {% block footer %}{% endblock %}
    </div>
 
  </body>

  {% block foot %}
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  {% endblock %}

  {% block script %}{% endblock %}
</html>